*{
    padding: 0;

}

ul {

}

ul li {
    list-style: square;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: fantasy;
    color: black;
}
